* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  border: 2px solid black;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  border: solid;
  border-color: red;
  display: flex;
  flex-direction: column;
}

.subtitle-container {
  border: solid;
  border-color: blue;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  
  height: 20%;
  border: solid;
  border-color: green;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  min-height: 76vh;
  border: solid;
  border-color: rgb(183, 43, 131);
  margin: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 925px;
  height: 125px;
  order: 2;
}

.minecraftdle-logo {
  max-width: 100%;
  max-height: 100%;
}

.language-container {
  width: 80px;
  height: 80px;
  order: 3;
}

.language-icon {
  max-width: 100%;
  max-height: 100%;
  order: 1;
}

.settings-container {
  width: 80px;
  height: 80px;
}

.settings-icon {
  max-width: 100%;
  max-height: 100%;
}

.list-container {
  position: relative;
  width: 30%;
}

.blocks-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.blocks-input::placeholder {
  font-size: 16px;
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  height: 200px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  background-color: rgb(234, 228, 228);
  opacity: 0;
}

.autocomplete-list-opacity {
  opacity: 1;
}

.block-name-container {
  display: inline-flex;
  border: solid red;
  margin-left: 1px;
  width: 50px;
  height: 50px;
}

.chosen-blocks-container {
  margin-top: 1vh;
  width: 100%;
  height: 12vh;
  display: inline-flex;
  align-items: center;
}

.chosen-blocks-name-container {
  border: solid yellow;
  width: 68%;
  height: 4vh;
  margin-top: 19vh;
  display: inline-flex;
  align-items: center;
}

.individual-block-container {
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  margin: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
}

.guessing-container {
  width: 68%;
  min-height: 30vh;
  max-height: none;
  border: solid brown;
  display: flex;
  flex-direction: column;
}

.individual-block-container p {
  margin: 0;
}

.individual-block-container-true {
  background-image: url("../images/true-bg.png");
  background-size: 100%;
}

.individual-block-container-false {
  background-image: url("../images/false-bg.png");
  background-size: 100%;
}

.individual-block-container-mixed {
  background-image: url("../images/mixed-bg.png");
  background-size: 100%;
}

.individual-name-container {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 10px 10px 10px 10px;
  width: 8%;
  height: 76%;
}

.visible-input-menu-container {
  margin-top: 60px;
  position: relative;
  display: inline-flex;
  width: 30%;
}

.press-button {
  width: 15%;
}

.displayed-block-image {
  width: 100px;
  height: 100px;
}

